<footer>
    <div class='footer_Content'>
        <div class="logo">
            <h1>Anoch</h1>
        </div>
        <div class="pages">
            <p>Pages</p>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Setup</a></li>
            </ul>
        </div>
        <div class="contacts">
            <p>Contacts</p>
            <ul>
                <li><span><ion-icon name="location-outline"></ion-icon></span>Phone </li>
                <li><span><ion-icon name="mail-outline"></ion-icon></span>email</li>
                <li><span><ion-icon name="mail-outline"></ion-icon></span>location</li>
                <li><span><ion-icon name="hammer-outline"></ion-icon></span>Setup</li>
            </ul>
        </div>
        <div class="socials">
            <p>Social media links</p>
            <span><ion-icon name="logo-instagram"></ion-icon></span>
            <span><ion-icon name="logo-facebook"></ion-icon></span>
            <span><ion-icon name="logo-linkedin"></ion-icon></span>
            <span><ion-icon name="logo-discord"></ion-icon></span>
        </div>
    </div>
    <div class="bottom_sec">
        <span class="line"></span>
        <span class="copy_rignt">&copy; 2025 Arsene U.L - All rights researved</span>
    </div>
</footer>