<div class="navigation">
    <nav>
        <a href="index.html">Home</a>
        <a href="About.html">About</a>
        <a href="#">Contact Us</a>
        <a href="SetUp.html">Set Up</a>
    </nav>
</div>