<!-- 
    To fix and reorganise 
npm npm-->
<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="/css/chatap.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</head>

<body>
    <script src="/js/chatapp.js" defer></script>
    <main>
        <section id="sideBar">
            <span class="material-symbols-outlined">
                menu
            </span>

        </section>
        <section class="content">
            <header>
                <div class="profile">
                    <span><ion-icon id="menuIcon" name="person-circle-outline"></ion-icon></span>
                    <div class="userinfo">
                        <p>Arxxx</p>
                        <p id="status">status <span id="statusIcon"></span></p>
                    </div>
                </div>
                <div class="options">
                    <span id="options_icon"><ion-icon name="ellipsis-vertical"></ion-icon></span>
                </div>
            </header>

            <div class="midbanner">
                <div class="right">
                    <div class="reciever_msg_box">
                        <div class="reciever_msg_box_content">
                            <div class="usersec">
                                <img src="assets/user.png" alt="user">
                                <p id="recieverusername">user</p>
                            </div>
                            <span class="line"></span>
                            <p>Similar styling would be applied for received messages, with adjustments to
                                background-color, align-self, and the pseudo-element's positioning and border colors.
                                Positioning and Layout: Flexbox or Grid layouts are commonly used to arrange chat
                                bubbles within a container, allowing for easy alignment of sent and received messages.
                            </p>
                        </div>
                        <div class="time">
                            <p>time</p>
                        </div>
                    </div>

                </div>

                <div class="left" id="senderSection">
                    <!--
                    <div class="sender_msg_box">
                        <div class="sender_msg_box_content" >
                            <p id="senderusername">user</p>
                            <span class="line"></span>
                            <p>Similar styling would be applied for received messages, with adjustments to background-color, align-self, and the pseudo-element's positioning and border colors.
                                Positioning and Layout: Flexbox or Grid layouts are commonly used to arrange chat bubbles within a container, allowing for easy alignment of sent and received messages.</p>
                        </div>
                             <div class="time"> 
                                <p>time</p>
                            </div>
                    </div>
                    -->
                </div>
            </div>

            <div class="bottombanner">
                <div class="inputsection">
                    <input type="text" placeholder="Type text here " name="" id="txtMessage"></input>
                    <!--<input placeholder="type message"/>-->
                    <!--<button onclick="sendMessage()">Send</button>-->
                    <span id="sendsec" onclick="sendMessage()"><img class="imgSend" src="assets/send2.png"
                            alt="send"></span>
                </div>
            </div>
        </section>

    </main>

</body>

</html>