<div class="intro">
    <div class="txtsec">
        <h1>Welcome to Anoch!</h1>
        <h3>Chat anonymously with the person of your choice</h3>
        <p>
            Anoch lets you create a secure token that you can share with anyone to start an anonymous chat
            session.
            With just a click, you can generate a unique token and begin chatting privately.
            You can also cancel the session at any time to end the conversation.
        </p>
        <button class="btnstart" onclick="window.location.href='ChatApp.html'"> get started</button>
    </div>
    <div class="imgsec">
        <img src="/img/App.png" alt="screenshot of the app">
    </div>
</div>