<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    <section class="box_container">
        <div class="box">
            <div class="upper">
                <p>Anooch</p>
                <p>generate a token</p>
                <span class="line"></span>
            </div>
            <div class="lower">
                <span class="field"><label for="">XXXXXXXXXXXXXXXXXXXX</label></span>
                <span class="field"><label for="">XXXXXXXXXXXXXXXXXXXX</label></span>
                <button class="btn">Generate token</button>
                <button class="btn">Next</button>

            </div>
        </div>
    </section>
</body>

</html>