    <section class="box_container">
        <div class="box">
            <div class="upper">
                <p>Anooch</p>
                <span class="line"></span>
            </div>
            <div class="lower">
                <span class="field"><label for="">XXXXXXXXXXXXXXXXXXXX</label></span>
                <span class="field"><label for="">XXXXXXXXXXXXXXXXXXXX</label></span>
                <button class="btn">Generate token</button>
                <button class="btn">Next</button>

            </div>
        </div>
    </section>